@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-container {
        @apply flex items-center bg-white border border-gray-400 rounded-lg px-3 h-[38px] transition-all focus-within:ring-2 focus-within:ring-blue-100 focus-within:border-blue-400 shadow-sm relative;
    }

    .search-input {
        @apply bg-transparent border-none outline-none text-sm text-gray-800 placeholder-gray-400 flex-grow py-2;
    }
}