<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="padding: 30px;">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <% if (error && error.stack) { %>
        <pre><code><%= error.stack %></code></pre>
    <% } %>
    <hr>
    <p><a href="/">Go to Dashboard/Login</a> | <a href="javascript:history.back()">Go Back</a></p>
</body>
</html>